Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

fix(deps): update dependency cordova-plugin-splashscreen to v6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @angular-builders/custom-webpack to v10
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency jasmine-core to ~3.6.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update angular monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update storybook monorepo to v6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency karma-jasmine to v4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency zone.js to ^0.11.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency ts-node to v9
  package-lock.json
  package.json
Due: prettier --write

chore: bump Android target sdk version to 29
  config.xml
Due: none

chore: bump version to 1.8.2
  config.xml
  package.json
Due: prettier --write

chore: bump chromedriver
  .github/workflows/test.yml
Due: none

chore: bump Android target sdk version to 29 (#666)
  .github/workflows/test.yml
  config.xml
  package.json
Due: prettier --write

feat: implement AIP36 transaction types
  src/app/app.constants.ts
  src/app/models/transaction.spec.ts
  src/app/models/transaction.ts
  src/assets/i18n/en.json
  test/fixture/transactions/business-registration.json
  test/fixture/transactions/legacy-business-registration.json
  test/fixture/transactions/second-signature.json
  test/fixture/transactions/transfer.json
  tsconfig.json
Due: npm run lint, prettier --write, npm run lint --fix

fix: update webdriver
  .github/workflows/test.yml
Due: none

refactor: check undefined business types
  src/app/models/transaction.spec.ts
  src/app/models/transaction.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.html
  src/assets/i18n/en.json
  test/fixture/transactions/business-registration.json
  test/fixture/transactions/unknown-registration.json
Due: npm run lint, prettier --write, npm run lint --fix

fix: change fixture value
  test/fixture/transactions/unknown-registration.json
Due: prettier --write

chore(deps): update angularcli monorepo to ^0.1001.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency node-forge to ^0.10.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency postcss-loader to v4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4
  package-lock.json
  package.json
Due: prettier --write

refactor: get default peer
  src/app/services/ark-api/ark-api.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: remove usage of p2p port
  src/app/models/node.ts
  src/app/pages/network/network-status/network-status.ts
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: improve api request
  src/app/modals/custom-network-create/custom-network-create.ts
  src/app/modals/custom-network-edit/custom-network-edit.ts
  src/app/models/stored-network.ts
  src/app/pages/network/network-status/network-status.html
  src/app/pages/network/network-status/network-status.ts
  src/app/services/ark-api/ark-api.ts
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: label legacy magistrate and AIP36 transaction types (#668)
  .github/workflows/test.yml
  src/app/app.constants.ts
  src/app/models/transaction.spec.ts
  src/app/models/transaction.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.html
  src/assets/i18n/en.json
  test/fixture/transactions/business-registration.json
  test/fixture/transactions/legacy-business-registration.json
  test/fixture/transactions/second-signature.json
  test/fixture/transactions/transfer.json
  test/fixture/transactions/unknown-registration.json
  tsconfig.json
Due: npm run lint, prettier --write, npm run lint --fix

refactor: handle https for peer port
  src/app/modals/custom-network-create/custom-network-create.ts
  src/app/modals/custom-network-edit/custom-network-edit.html
  src/app/modals/custom-network-edit/custom-network-edit.ts
  src/app/models/stored-network.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: bump version to 1.8.3
  config.xml
  package.json
Due: prettier --write

chore: typo in undefined entity
  src/assets/i18n/en.json
Due: prettier --write

fix(deps): update dependency node-forge to ^0.10.0 [security]
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency postcss-nested to v5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency postcss-scss to v3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency jasmine-spec-reporter to v6
  package-lock.json
  package.json
Due: prettier --write

refactor: reword undefined types
  src/assets/i18n/en.json
Due: prettier --write

refactor: remove entity subtypes
  src/app/app.constants.ts
  src/app/models/transaction.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: module type
  src/app/models/transaction.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

fix: do not check for subtypes
  src/app/models/transaction.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: plugin type
  src/app/app.constants.ts
  src/app/models/transaction.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

refactor: add product type
  src/app/app.constants.ts
  src/app/models/transaction.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

refactor: use default peer on known networks (#675)
  config.xml
  package.json
  src/app/modals/custom-network-create/custom-network-create.ts
  src/app/modals/custom-network-edit/custom-network-edit.html
  src/app/modals/custom-network-edit/custom-network-edit.ts
  src/app/models/node.ts
  src/app/models/stored-network.ts
  src/app/pages/network/network-status/network-status.html
  src/app/pages/network/network-status/network-status.ts
  src/app/services/ark-api/ark-api.ts
  src/app/utils/ark-client.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

chore: bump version to 1.8.4
  config.xml
  package.json
Due: prettier --write

Path conditions:
  npm run lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{css,pcss,scss,html,json,md,js})
  npm run lint --fix: any of: src/**/*.ts
