Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

fix(deps): update dependency cordova-plugin-androidx to v3
  package-lock.json
  package.json
Due: prettier --write

refactor: update AIP36 transaction labels (#681)
  config.xml
  package.json
  src/app/app.constants.ts
  src/app/models/transaction.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

fix: use recipient address to sign transaction
  src/app/models/transaction.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: bump version to 1.8.5
  config.xml
  package.json
Due: prettier --write

fix: exclude current wallet when updating label
  src/app/services/user-data/user-data.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: exclude current wallet when updating label (#685)
  src/app/services/user-data/user-data.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: use recipient address to sign transaction (#683)
  config.xml
  package.json
  src/app/models/transaction.ts
Due: npm run lint, prettier --write, npm run lint --fix

release: 1.8.6
  config.xml
  package.json
Due: prettier --write

release: 1.8.6 (#686)
  config.xml
  package.json
Due: prettier --write

chore(deps): update storybook monorepo
  package-lock.json
  package.json
Due: prettier --write

fix: sanitize attributes
  src/app/models/wallet.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: remove orderBy param
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

custom http service
  src/app/utils/ark-http-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

add cordova http package/plugin
  package-lock.json
  package.json
Due: prettier --write

include plugin in config
  config.xml
Due: none

set AndroidPersistentFileLocation as advised by plugin
  config.xml
Due: none

add http to app providers
  src/app/app.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

use custom http client
  src/app/modals/custom-network-create/custom-network-create.ts
  src/app/services/ark-api/ark-api.ts
  src/app/services/neo-api/neo-api.ts
  src/app/utils/ark-client.ts
  src/app/utils/ark-peer-discovery.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix market data error on devnet
  src/app/models/market.ts
Due: npm run lint, prettier --write, npm run lint --fix

add core version to interface
  src/app/models/node.ts
Due: npm run lint, prettier --write, npm run lint --fix

use node configuration endpoint for core version
  src/app/pages/network/network-status/network-status.ts
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

remove v2 from api urls
  src/app/services/ark-api/ark-api.spec.ts
  src/app/services/ark-api/ark-api.ts
Due: npm run lint, prettier --write, npm run lint --fix

use get method instead of request
  src/app/utils/ark-client.ts
  src/app/utils/ark-peer-discovery.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: update codeowners
  CODEOWNERS
Due: none

catch delegate not found response
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

wip: throw caught errors while logging, remove commented code, and attempt to force a json content type
  src/app/utils/ark-http-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

pass null if delegate not found
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: update codeowners (#701)
  CODEOWNERS
Due: none

fix: adding new v3 networks
  src/app/modals/custom-network-create/custom-network-create.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix posted http data being converted to string
  src/app/utils/ark-http-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

update android target sdk
  config.xml
Due: none

fix: use last vote entry in array
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: bump version
  config.xml
  package.json
Due: prettier --write

chore: bump version
  package-lock.json
Due: prettier --write

test: mock http provider
  src/app/services/ark-api/ark-api.spec.ts
  src/app/services/neo-api/neo-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: updates (wip)
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

wontfix: failing tests due to change in http client
  src/app/services/ark-api/ark-api.spec.ts
  src/app/services/neo-api/neo-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

Path conditions:
  npm run lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{css,pcss,scss,html,json,md,js})
  npm run lint --fix: any of: src/**/*.ts
