Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

.lintstagedrc.json:

{
    "*.ts": ["npm run lint", "prettier --write"],
    "src/**/*.ts": ["npm run lint --fix"],
    "*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

tests: solve conflicts and use spectator
  package-lock.json
  src/app/services/address-checker/address-checker.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add initial test config
  src/app/services/address-checker/address-checker.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: increase coverage covering more branches
  src/app/services/address-checker/address-checker.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: add transactions fixture
  test/fixture/transactions.fixture.ts
Due: npm run lint, prettier --write

fix: should return the check for no transactions
  src/app/services/address-checker/address-checker.spec.ts
  src/app/services/address-checker/address-checker.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: [wip] add transactions test case
  src/app/services/address-checker/address-checker.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add own address and neo address check
  src/app/services/address-checker/address-checker.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: should not throw error if the transaction request fails
  src/app/services/address-checker/address-checker.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: update wallet3 into fixtures
  test/fixture/wallets.fixture.ts
Due: npm run lint, prettier --write

chore: remove single test run flag
  src/app/services/address-checker/address-checker.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: remove testing library (#534)
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/components/input-currency/input-currency.component.spec.ts
  src/app/components/input-currency/input-currency.component.ts
  src/app/components/input-fee/input-fee.component.spec.ts
  src/app/components/input-fee/input-fee.component.ts
  src/app/components/wallet-picker/wallet-picker.component.html
  src/app/components/wallet-picker/wallet-picker.component.spec.ts
  src/app/pages/intro/intro.spec.ts
  src/app/services/event-bus/event-bus.spec.ts
  src/app/services/forge/forge.spec.ts
  src/app/services/forge/forge.ts
  test/fixture/wallets.fixture.ts
  test/helpers.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: change warning to red
  src/app/components/input-fee/input-fee.component.pcss
Due: prettier --write

fix: assign address after scanning QR code
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add input-address specs
  src/app/components/input-address/input-address.component.html
  src/app/components/input-address/input-address.component.ts
  src/app/components/input-address/input-address.spec.ts
  src/app/components/input-address/input-address.stories.ts
  src/app/pages/contacts/contact-create/contact-create.ts
  src/global.scss
Due: npm run lint, prettier --write, npm run lint --fix

refactor: input-address value accessor
  src/app/components/input-address/input-address.component.html
  src/app/components/input-address/input-address.component.ts
  src/app/components/input-address/input-address.spec.ts
  src/app/components/input-address/input-address.stories.ts
  src/app/pages/contacts/contact-create/contact-create.html
  src/app/pages/contacts/contact-create/contact-create.module.ts
  src/app/pages/contacts/contact-create/contact-create.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pipes/truncate-middle/truncate-middle.ts
  src/global.scss
Due: npm run lint, prettier --write, npm run lint --fix

fix: mask text on passphrase input
  src/app/components/passphrase-input/passphrase-input.html
  src/app/components/passphrase-input/passphrase-input.pcss
  src/app/components/passphrase-input/passphrase-input.ts
  src/app/modals/passphrase-word-tester/passphrase-word-tester.html
  src/app/modals/passphrase-word-tester/passphrase-word-tester.ts
  src/global.scss
Due: npm run lint, prettier --write, npm run lint --fix

fix: odd background color
  config.xml
  src/assets/styles/app.pcss
Due: prettier --write

test: remove single test
  src/app/components/input-address/input-address.spec.ts
  src/global.scss
Due: npm run lint, prettier --write, npm run lint --fix

fix: min button color on input-fee
  src/app/components/input-fee/input-fee.component.html
Due: prettier --write

test: should work with formControl
  src/app/components/input-address/input-address.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add address check unit tests (#540)
  package-lock.json
  src/app/services/address-checker/address-checker.spec.ts
  src/app/services/address-checker/address-checker.ts
  test/fixture/transactions.fixture.ts
  test/fixture/wallets.fixture.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: address and fee component tweaks (#543)
  config.xml
  src/app/components/input-address/input-address.component.html
  src/app/components/input-address/input-address.component.ts
  src/app/components/input-address/input-address.module.ts
  src/app/components/input-address/input-address.spec.ts
  src/app/components/input-address/input-address.stories.ts
  src/app/components/input-currency/input-currency.component.html
  src/app/components/input-currency/input-currency.component.scss
  src/app/components/input-currency/input-currency.stories.ts
  src/app/components/input-fee/input-fee.component.html
  src/app/components/input-fee/input-fee.component.pcss
  src/app/components/input-fee/input-fee.stories.ts
  src/app/components/passphrase-input/passphrase-input.html
  src/app/components/passphrase-input/passphrase-input.pcss
  src/app/components/passphrase-input/passphrase-input.ts
  src/app/directives/paste-clipboard-value/paste-clipboard-value.ts
  src/app/modals/passphrase-word-tester/passphrase-word-tester.html
  src/app/modals/passphrase-word-tester/passphrase-word-tester.ts
  src/app/pages/contacts/contact-create/contact-create.html
  src/app/pages/contacts/contact-create/contact-create.module.ts
  src/app/pages/contacts/contact-create/contact-create.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/pipes/truncate-middle/truncate-middle.ts
  src/assets/styles/app.pcss
  src/global.scss
  src/theme/variables.scss
Due: npm run lint, prettier --write, npm run lint --fix

chore(deps): update dependency prettier to v2
  package-lock.json
  package.json
Due: prettier --write

feat: add dev mode
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/pin-code/pin-code.ts
  src/app/components/viewer-log/viewer-log.component.html
  src/app/components/viewer-log/viewer-log.component.module.ts
  src/app/components/viewer-log/viewer-log.component.ts
  src/app/components/viewer-log/viewer-log.modal.html
  src/app/components/viewer-log/viewer-log.modal.module.ts
  src/app/components/viewer-log/viewer-log.modal.ts
  src/app/components/viewer-log/viewer-log.stories.ts
  src/app/models/settings.ts
  src/app/pages/settings/settings.html
  src/app/pages/settings/settings.module.ts
  src/app/pages/settings/settings.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/services/error-handler/error-handler.service.ts
  src/app/services/logger/logger.service.ts
  src/app/services/toast/toast.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

fix: toast message
  src/app/components/viewer-log/viewer-log.modal.ts
  src/app/pages/settings/settings.ts
  src/app/services/toast/toast.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add viewer-log component and modal specs
  src/app/components/viewer-log/viewer-log.component.html
  src/app/components/viewer-log/viewer-log.component.spec.ts
  src/app/components/viewer-log/viewer-log.modal.html
  src/app/components/viewer-log/viewer-log.modal.spec.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: passphrase confirmation style tweaks
  src/app/components/passphrase-input/passphrase-input.html
  src/app/modals/enter-second-passphrase/enter-second-passphrase.html
  src/app/modals/passphrase-word-tester/passphrase-word-tester.html
Due: prettier --write

feat: developer mode (#544)
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/pin-code/pin-code.ts
  src/app/components/viewer-log/viewer-log.component.html
  src/app/components/viewer-log/viewer-log.component.module.ts
  src/app/components/viewer-log/viewer-log.component.spec.ts
  src/app/components/viewer-log/viewer-log.component.ts
  src/app/components/viewer-log/viewer-log.modal.html
  src/app/components/viewer-log/viewer-log.modal.module.ts
  src/app/components/viewer-log/viewer-log.modal.spec.ts
  src/app/components/viewer-log/viewer-log.modal.ts
  src/app/components/viewer-log/viewer-log.stories.ts
  src/app/models/settings.ts
  src/app/pages/settings/settings.html
  src/app/pages/settings/settings.module.ts
  src/app/pages/settings/settings.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/services/error-handler/error-handler.service.ts
  src/app/services/logger/logger.service.ts
  src/app/services/toast/toast.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

fix: passphrase confirmation style tweaks (#545)
  src/app/components/passphrase-input/passphrase-input.html
  src/app/modals/enter-second-passphrase/enter-second-passphrase.html
  src/app/modals/passphrase-word-tester/passphrase-word-tester.html
Due: prettier --write

fix: back button in the wallet dashboard screen
  src/app/app.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: back button in the wallet dashboard screen (#547)
  src/app/app.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: import passphrase screen style
  src/app/pages/wallet/wallet-import-manual/wallet-import-manual.html
  src/app/pages/wallet/wallet-import-manual/wallet-import-manual.scss
Due: prettier --write

chore: bump version to 1.8.0
  config.xml
  package.json
Due: prettier --write

chore(deps): update angularcli monorepo to ^0.901.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update angular monorepo to ~9.1.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency pino to v6
  package-lock.json
  package.json
Due: prettier --write
