Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

.lintstagedrc.json:

{
    "*.ts": ["npm run lint", "prettier --write"],
    "src/**/*.ts": ["npm run lint --fix"],
    "*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

chore(deps): update dependency eslint to v7
  package-lock.json
  package.json
Due: prettier --write

test: update wallet related tests
  src/app/wallets/wallet-card/wallet-card.component.spec.ts
  src/app/wallets/wallet-list-header/wallet-list-header.component.spec.ts
  src/app/wallets/wallets-actions/wallets-actions.component.html
  src/app/wallets/wallets-actions/wallets-actions.spec.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: [wip] add new wallets structure
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
  src/app/networks/network-card/network-card.component.html
  src/app/pages/delegates/delegates.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/wallet/wallet.module.ts
  src/app/wallets/wallets-routing.module.ts
  src/app/wallets/wallets.component.html
  src/app/wallets/wallets.component.ts
  src/app/wallets/wallets.controller.ts
  src/app/wallets/wallets.module.ts
  src/app/wallets/wallets.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: improve wallet card
  src/app/wallets/wallet-card/wallet-card.component.html
  src/app/wallets/wallet-card/wallet-card.component.module.ts
  src/app/wallets/wallet-card/wallet-card.component.ts
  src/app/wallets/wallet-card/wallet-card.pcss
Due: npm run lint, prettier --write, npm run lint --fix

feat: add wallet list header component
  src/app/wallets/wallet-card/wallet-card.component.spec.ts
  src/app/wallets/wallet-list-header/wallet-list-header.component.html
  src/app/wallets/wallet-list-header/wallet-list-header.component.module.ts
  src/app/wallets/wallet-list-header/wallet-list-header.component.scss
  src/app/wallets/wallet-list-header/wallet-list-header.component.spec.ts
  src/app/wallets/wallet-list-header/wallet-list-header.component.ts
  src/app/wallets/wallets.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: fix storybook missing include
  .storybook/tsconfig.json
Due: prettier --write

feat: wip apply new wallet list design
  src/app/wallets/wallets.component.html
Due: prettier --write

feat: add dynamic coins properties to card template
  src/app/wallets/wallet-card/wallet-card.component.html
  src/app/wallets/wallet-card/wallet-card.component.ts
  src/app/wallets/wallet-card/wallet-card.pcss
  src/app/wallets/wallets.stories.ts
  src/coins/shared/coin.config.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add bottom gradient
  src/app/wallets/wallets.component.html
  src/app/wallets/wallets.component.scss
  src/app/wallets/wallets.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: store wallet flow
  src/app/wallets/wallets.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: [wip] add wallet coin based card
  src/app/wallets/wallet-card/wallet-card.component.html
  src/app/wallets/wallet-card/wallet-card.component.module.ts
  src/app/wallets/wallet-card/wallet-card.component.spec.ts
  src/app/wallets/wallet-card/wallet-card.component.ts
  src/app/wallets/wallet-card/wallet-card.pcss
  src/app/wallets/wallets.stories.ts
  src/assets/img/coins/ark.png
  src/assets/img/coins/btc.png
  src/global.scss
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove old wallet.module
  src/app/app.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: create global card style def
  src/global.scss
Due: prettier --write

chore: rename wallet-actions module file
  src/app/wallets/wallets-actions/wallets-actions.component.module.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.module.ts
  src/app/wallets/wallets.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: componentize wallet action buttons
  src/app/wallets/wallets-actions/wallets-actions.component.html
  src/app/wallets/wallets-actions/wallets-actions.component.ts
  src/app/wallets/wallets-actions/wallets-actions.module.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.html
  src/app/wallets/wallets-empty-list/wallets-empty-list.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: increase coverage
  src/app/wallets/wallet-card/wallet-card.component.spec.ts
  src/app/wallets/wallet-list-header/wallet-list-header.component.spec.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add data-testid to empty list
  src/app/wallets/wallets.component.html
Due: prettier --write

feat: remove ununsed methods and add test file
  src/app/wallets/wallets.component.spec.ts
  src/app/wallets/wallets.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add clearCurrentWallet mock class def
  test/mocks.ts
Due: npm run lint, prettier --write

chore(storybook): update titles to match pattern
  src/app/wallets/wallets.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add wallet import module
  src/app/wallets/wallet-import/wallet-import-routing.module.ts
  src/app/wallets/wallet-import/wallet-import.component.html
  src/app/wallets/wallet-import/wallet-import.component.scss
  src/app/wallets/wallet-import/wallet-import.component.ts
  src/app/wallets/wallet-import/wallet-import.module.ts
  src/app/wallets/wallet-import/wallet-import.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: add new import design texts
  src/assets/i18n/en.json
Due: prettier --write

feat: add import input component
  src/app/wallets/wallet-import/import-input/import-input.component.html
  src/app/wallets/wallet-import/import-input/import-input.component.scss
  src/app/wallets/wallet-import/import-input/import-input.component.ts
  src/app/wallets/wallet-import/import-input/import-input.module.ts
  src/app/wallets/wallet-import/import-input/import-input.spec.ts
  src/app/wallets/wallet-import/import-input/import-input.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: rollback navigation to default
  src/app/app.component.html
Due: prettier --write

fix(deps): update dependency @arkecosystem/platform-sdk to ^0.7.0
  package-lock.json
  package.json
Due: prettier --write

chore: remove from app.module due routing
  src/app/app.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: refactor wallets module structure
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/pages/delegates/delegates.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/wallets/wallet-card/wallet-card.component.html
  src/app/wallets/wallet-card/wallet-card.component.spec.ts
  src/app/wallets/wallet-card/wallet-card.pcss
  src/app/wallets/wallet-list-actions/wallet-list-actions.component.html
  src/app/wallets/wallet-list-actions/wallet-list-actions.component.module.ts
  src/app/wallets/wallet-list-actions/wallet-list-actions.component.ts
  src/app/wallets/wallet-list-actions/wallet-list-actions.spec.ts
  src/app/wallets/wallet-list-empty/wallet-list-empty.component.html
  src/app/wallets/wallet-list-empty/wallet-list-empty.component.module.ts
  src/app/wallets/wallet-list-empty/wallet-list-empty.component.spec.ts
  src/app/wallets/wallet-list-empty/wallet-list-empty.component.ts
  src/app/wallets/wallet-list-header/wallet-list-header.component.html
  src/app/wallets/wallet-list-header/wallet-list-header.component.spec.ts
  src/app/wallets/wallet-list-header/wallet-list-header.component.ts
  src/app/wallets/wallet-list/wallet-list-routing.module.ts
  src/app/wallets/wallet-list/wallet-list.component.html
  src/app/wallets/wallet-list/wallet-list.component.module.ts
  src/app/wallets/wallet-list/wallet-list.component.spec.ts
  src/app/wallets/wallet-list/wallet-list.component.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.module.ts
  src/app/wallets/wallets.component.html
  src/app/wallets/wallets.component.module.ts
  src/app/wallets/wallets.controller.ts
  src/app/wallets/wallets.module.ts
  src/app/wallets/wallets.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: update test cases
  src/app/wallets/wallet-list-empty/wallet-list-empty.component.spec.ts
  src/app/wallets/wallet-list-header/wallet-list-header.component.spec.ts
  src/app/wallets/wallet-list/wallet-list.component.html
  src/app/wallets/wallet-list/wallet-list.component.spec.ts
  src/app/wallets/wallet-list/wallet-list.component.ts
  src/app/wallets/wallets.component.html
  src/app/wallets/wallets.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: fix routing issue
  src/app/wallets/wallet-list/wallet-list-routing.module.ts
  src/app/wallets/wallet-list/wallet-list.component.module.ts
  src/app/wallets/wallets-routing.module.ts
  src/app/wallets/wallets.component.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: normalize coin img names
  src/app/wallets/wallet-card/wallet-card.component.html
  src/app/wallets/wallet-card/wallet-card.component.ts
  src/coins/shared/coin.config.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: centralize header balance
  src/app/wallets/wallet-list-header/wallet-list-header.component.html
Due: prettier --write

feat: light/dark mode bottom gradient
  src/app/wallets/wallets.component.html
  src/app/wallets/wallets.component.scss
Due: prettier --write

fix(deps): update dependency @arkecosystem/platform-sdk-markets to ^0.7.0
  package-lock.json
  package.json
Due: prettier --write

fix: use new exports
  src/app/market/shared/market.service.ts
Due: npm run lint, prettier --write, npm run lint --fix

wip
  src/app/app-routing.module.ts
  src/app/profiles/shared/profile.actions.ts
  src/app/profiles/shared/profile.service.ts
  src/app/profiles/shared/profile.state.ts
  src/app/profiles/shared/profile.types.ts
  src/app/signup/signup-routing.module.ts
  src/app/signup/signup.component.html
  src/app/signup/signup.component.ts
  src/app/signup/signup.module.ts
  src/assets/svg/onboarding-signup.svg
Due: npm run lint, prettier --write, npm run lint --fix

wip
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/auth/auth.module.ts
  src/app/onboarding/onboarding.module.ts
  src/app/onboarding/shared/onboarding.state.ts
  src/app/profiles/profile/profile.component.html
  src/app/profiles/profile/profile.component.ts
  src/app/profiles/profile/profile.module.ts
  src/app/profiles/profiles.module.ts
  src/app/profiles/shared/profile.config.ts
  src/app/profiles/shared/profile.state.ts
  src/app/shared/state/async-storage/async-storage.plugin.ts
  src/app/signup/signup.component.html
  src/app/signup/signup.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

wip
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/auth/auth.component.spec.ts
  src/app/pages/delegates/delegates.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/profiles/profile/profile-routing.module.ts
  src/app/profiles/profile/profile.component.html
  src/app/profiles/profile/profile.component.ts
  src/app/profiles/profile/profile.module.ts
  src/app/profiles/profiles-routing.module.ts
  src/app/profiles/profiles.component.html
  src/app/profiles/profiles.component.ts
  src/app/profiles/profiles.module.ts
  src/app/shared/state/async-storage/async-storage.plugin.ts
  src/app/wallet/wallet.module.ts
  src/app/wallets/wallet/wallet.controller.ts
  src/app/wallets/wallet/wallet.module.ts
  src/app/wallets/wallets-routing.module.ts
  src/app/wallets/wallets.component.html
  src/app/wallets/wallets.component.ts
  src/app/wallets/wallets.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

wip
  src/app/profiles/profile-list/profile-list.component.html
  src/app/profiles/profile-list/profile-list.component.ts
  src/app/profiles/profile-list/profile-list.module.ts
  src/app/profiles/profiles.component.html
  src/app/profiles/profiles.component.pcss
  src/app/profiles/profiles.component.ts
  src/app/shared/state/async-storage/async-storage.plugin.ts
  tsconfig.app.json
  tsconfig.spec.json
Due: npm run lint, prettier --write, npm run lint --fix

fix: delegate voting
  src/app/pages/delegates/delegates.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add specs
  src/app/profiles/profile-list/profile-list.component.spec.ts
  src/app/profiles/profiles.component.spec.ts
  src/app/profiles/profiles.component.ts
  src/app/profiles/shared/profile.service.ts
  src/app/profiles/shared/profile.state.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix
