Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

.lintstagedrc.json:

{
    "*.ts": ["npm run lint", "prettier --write"],
    "src/**/*.ts": ["npm run lint --fix"],
    "*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

fix: lazy loading
  src/app/app.module.ts
  src/app/delegates/delegate-search/delegate-search.controller.ts
  src/app/delegates/delegates.module.ts
  src/app/delegates/shared/delegate.service.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: move auth files to shared folder
  src/app/app.module.ts
  src/app/auth/auth-pin/auth-pin.component.spec.ts
  src/app/auth/auth-pin/auth-pin.component.ts
  src/app/auth/auth.component.spec.ts
  src/app/auth/auth.component.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth.stories.ts
  src/app/auth/shared/auth.actions.ts
  src/app/auth/shared/auth.config.ts
  src/app/auth/shared/auth.controller.spec.ts
  src/app/auth/shared/auth.controller.ts
  src/app/auth/shared/auth.service.spec.ts
  src/app/auth/shared/auth.service.ts
  src/app/auth/shared/auth.state.spec.ts
  src/app/auth/shared/auth.state.ts
  src/app/auth/shared/auth.types.ts
  src/app/pages/delegates/delegates.ts
  src/app/pages/login/login.ts
  src/app/pages/profiles/profile-signin/profile-signin.ts
  src/app/pages/settings/settings.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/pages/wallet/wallet-dashboard/wallet-dashboard.ts
  src/app/pages/wallet/wallet-import-manual/wallet-import-manual.ts
  src/app/pages/wallet/wallet-import/wallet-import.base.ts
  src/app/pages/wallet/wallet-import/wallet-import.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: move shared module to shared folder
  src/app/auth/auth.module.ts
  src/app/components/alert/alert.module.ts
  src/app/components/bottom-drawer/bottom-drawer.stories.ts
  src/app/components/input-address/input-address.module.ts
  src/app/components/input-address/input-address.stories.ts
  src/app/components/input-currency/input-currency.module.ts
  src/app/components/input-currency/input-currency.stories.ts
  src/app/components/input-fee/input-fee.module.ts
  src/app/components/viewer-log/viewer-log.component.module.ts
  src/app/components/viewer-log/viewer-log.modal.module.ts
  src/app/components/viewer-log/viewer-log.stories.ts
  src/app/components/wallet-picker/wallet-picker.component.module.ts
  src/app/components/wallet-picker/wallet-picker.modal.module.ts
  src/app/components/wallet-picker/wallet-picker.stories.ts
  src/app/delegates/delegate-search/delegate-search.module.ts
  src/app/delegates/delegates.module.ts
  src/app/pages/contacts/contact-create/contact-create.module.ts
  src/app/pages/delegates/delegate-detail/delegate-detail.module.ts
  src/app/pages/login/login.module.ts
  src/app/pages/network/network-overview/network-overview.module.ts
  src/app/shared.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: readd vibration when wrong
  src/app/auth/auth-pin/auth-pin.component.ts
  src/app/auth/shared/auth.config.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: wait to dismiss before opening confirmation
  src/app/auth/shared/auth.controller.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: failing test
  src/app/auth/shared/auth.controller.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: realign the intro page
  .eslintignore
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/intro/intro-pagination/intro-pagination.component.html
  src/app/intro/intro-pagination/intro-pagination.component.pcss
  src/app/intro/intro-pagination/intro-pagination.component.spec.ts
  src/app/intro/intro-pagination/intro-pagination.component.ts
  src/app/intro/intro.component.html
  src/app/intro/intro.component.pcss
  src/app/intro/intro.component.spec.ts
  src/app/intro/intro.component.ts
  src/app/intro/intro.module.ts
  src/app/intro/shared/intro.actions.ts
  src/app/intro/shared/intro.service.spec.ts
  src/app/intro/shared/intro.service.ts
  src/app/intro/shared/intro.state.spec.ts
  src/app/intro/shared/intro.state.ts
  src/app/intro/shared/intro.type.ts
  src/assets/shapes.svg
  src/assets/styles/app.pcss
  src/assets/svg/onboarding-1.svg
  src/assets/svg/onboarding-2.svg
  src/assets/svg/onboarding-3.svg
  src/global.scss
  src/theme/variables.scss
  tailwind.config.js
Due: npm run lint, prettier --write, npm run lint --fix

chore: intro -> onboarding
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/intro/intro-routing.module.ts
  src/app/intro/intro.module.ts
  src/app/intro/shared/intro.actions.ts
  src/app/intro/shared/intro.config.ts
  src/app/intro/shared/intro.state.spec.ts
  src/app/intro/shared/intro.state.ts
  src/app/onboarding/onboarding-routing.module.ts
  src/app/onboarding/onboarding.component.html
  src/app/onboarding/onboarding.component.pcss
  src/app/onboarding/onboarding.component.spec.ts
  src/app/onboarding/onboarding.component.ts
  src/app/onboarding/onboarding.module.ts
  src/app/onboarding/shared/onboarding.actions.ts
  src/app/onboarding/shared/onboarding.config.ts
  src/app/onboarding/shared/onboarding.service.spec.ts
  src/app/onboarding/shared/onboarding.service.ts
  src/app/onboarding/shared/onboarding.state.spec.ts
  src/app/onboarding/shared/onboarding.state.ts
  src/app/services/auth/auth.spec.ts
  src/app/services/auth/auth.ts
  src/assets/i18n/bg.json
  src/assets/i18n/cs.json
  src/assets/i18n/de.json
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
  src/assets/i18n/gr.json
  src/assets/i18n/id.json
  src/assets/i18n/it.json
  src/assets/i18n/kor.json
  src/assets/i18n/nl.json
  src/assets/i18n/pl.json
  src/assets/i18n/pt-br.json
  src/assets/i18n/ru.json
  src/assets/i18n/sv.json
  src/assets/i18n/zh.json
Due: npm run lint, prettier --write, npm run lint --fix

feat: add custom storage plugin for ngxs
  src/app/shared/state/app.state.ts
  src/app/shared/state/async-storage/async-storage.module.ts
  src/app/shared/state/async-storage/async-storage.plugin.ts
  src/app/shared/state/async-storage/async-storage.service.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add onboarding guard
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/onboarding/onboarding.component.ts
  src/app/onboarding/shared/onboarding.guard.ts
  src/app/onboarding/shared/onboarding.service.ts
  src/app/onboarding/shared/onboarding.state.ts
  src/app/services/storage/ngxs-storage.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: rename svg files
  src/app/onboarding/onboarding.component.ts
  src/assets/svg/onboarding-easy.svg
  src/assets/svg/onboarding-security.svg
  src/assets/svg/onboarding-welcome.svg
Due: npm run lint, prettier --write, npm run lint --fix

fix: auth storage key
  src/app/shared/state/async-storage/async-storage.plugin.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: fix failing
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/onboarding/onboarding.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove old images
  src/assets/img/light/intro/fast-easy.png
  src/assets/img/light/intro/security.png
  src/assets/img/light/intro/welcome-aboard.png
Due: none

chore(deps): update dependency ts-node to ~8.9.0
  package-lock.json
  package.json
Due: prettier --write

test: add async storage plugin specs
  src/app/app.module.ts
  src/app/services/storage/async-storage.service.spec.ts
  src/app/services/storage/async-storage.service.ts
  src/app/shared/state/async-storage/async-storage.module.ts
  src/app/shared/state/async-storage/async-storage.plugin.spec.ts
  src/app/shared/state/async-storage/async-storage.plugin.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: improve onboarding service
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/onboarding/onboarding.component.spec.ts
  src/app/onboarding/shared/onboarding.guard.ts
  src/app/onboarding/shared/onboarding.service.spec.ts
  src/app/onboarding/shared/onboarding.service.ts
  src/app/onboarding/shared/onboarding.state.spec.ts
  src/app/onboarding/shared/onboarding.state.ts
  src/app/shared/state/app.state.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add onboard guard
  src/app/onboarding/shared/onboarding.guard.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

Update set-label.html
  src/app/pages/wallet/wallet-dashboard/modal/set-label/set-label.html
Due: prettier --write

Update set-label.ts
  src/app/pages/wallet/wallet-dashboard/modal/set-label/set-label.ts
Due: npm run lint, prettier --write, npm run lint --fix

Update user-data.ts
  src/app/services/user-data/user-data.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add new wallet empty list
  src/app/wallets/empty-list/empty-list.html
  src/app/wallets/empty-list/empty-list.module.ts
  src/app/wallets/empty-list/empty-list.scss
  src/app/wallets/empty-list/empty-list.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(translation): update wallet empty list text
  src/assets/i18n/en.json
Due: prettier --write

feat(empty-list): add new empty list to wallets page
  src/app/pages/wallet/wallet-list/wallet-list.html
  src/app/pages/wallet/wallet-list/wallet-list.module.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(empty-list): add emitter and click handlers
  src/app/wallets/empty-list/empty-list.html
  src/app/wallets/empty-list/empty-list.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(empty-list-actions): pass wallet actions to empty list component
  src/app/pages/wallet/wallet-list/wallet-list.html
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: change folder and files name convention
  src/app/wallets/empty-list/empty-list.scss
  src/app/wallets/wallet-empty-list/wallet-empty-list.component.html
  src/app/wallets/wallet-empty-list/wallet-empty-list.component.ts
  src/app/wallets/wallet-empty-list/wallet-empty-list.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: revert translation update
  src/assets/i18n/en.json
Due: prettier --write

refactor: change folder and files name convention
  src/app/pages/wallet/wallet-list/wallet-list.module.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.html
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: remove new empty list usage
  src/app/pages/wallet/wallet-list/wallet-list.html
  src/app/pages/wallet/wallet-list/wallet-list.module.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: allow removal of wallet label (#573)
  src/app/pages/wallet/wallet-dashboard/modal/set-label/set-label.html
  src/app/pages/wallet/wallet-dashboard/modal/set-label/set-label.ts
  src/app/services/user-data/user-data.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore(storybook): remove ununsed ngxs async storage
  .storybook/preview.ts
Due: npm run lint, prettier --write

feat(storybook): add actions addon
  .storybook/addons.js
  package-lock.json
  package.json
Due: prettier --write

test: add data-testid to component template
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.html
Due: prettier --write

test: add wallets empty list spec
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: update component name
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(storybook): add wallets empty list story
  src/app/wallets/wallets-empty-list/wallets-empty-list.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix
