Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

feat(actions): remove qrcode/contact action
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.ts
  src/app/transactions/transaction-send/transaction-send.module.ts
  src/app/transactions/transaction-send/transaction-send.spec.ts
  src/app/transactions/transaction-send/transaction-send.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(storybook): add viewport plugin
  .storybook/addons.js
  package-lock.json
  package.json
Due: prettier --write

feat: minor UI tweaks, add translations
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.scss
  src/assets/i18n/en.json
Due: prettier --write

feat(story): add dynamic props
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.ts
  src/app/transactions/transaction-send/transaction-send.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

tests: update tests
  src/app/transactions/transaction-send/transaction-send.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: replace utils/bignumber with Platform SDK
  src/app/components/input-amount/input-amount.component.ts
  src/app/components/input-currency/input-currency.component.spec.ts
  src/app/components/input-currency/input-currency.component.ts
  src/app/components/input-fee/input-fee.component.ts
  src/app/models/transaction.ts
  src/app/pages/transaction/transaction-receive/transaction-receive.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/pipes/market-number/market-number.ts
  src/app/services/ark-api/ark-api.ts
  src/app/transactions/shared/transaction.utils.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: replace utils/bignumber in ark-utility.ts
  src/app/utils/ark-utility.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: remove utils/bignumber.ts module
  src/app/utils/bignumber.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor(deps): remove bignumber.js dep
  package.json
Due: prettier --write

refactor(deps): add @arkecosystem/platform-sdk-support
  package.json
Due: prettier --write

feat: add empty list UI
  src/app/transactions/transaction-list/transaction-list.component.html
Due: prettier --write

refactor: update render condition props
  src/app/transactions/transaction-list/transaction-list.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: pass down transactions and adjust UI
  src/app/wallets/wallet-details/wallet-details.component.html
Due: prettier --write

tests: update tests to cover empty state
  src/app/transactions/transaction-list/transaction-list.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: update stories
  src/app/wallets/wallet-details/wallet-details.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix(build): add android x support (#629)
  config.xml
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency cordova-ios to v6
  package-lock.json
  package.json
Due: prettier --write

feat: redesign wallet passphrase check (#608)
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.html
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.module.ts
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.scss
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.ts
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.spec.ts
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.stories.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

refactor: replace bignumber with platform SDK (#630)
  package.json
  src/app/components/input-amount/input-amount.component.ts
  src/app/components/input-currency/input-currency.component.spec.ts
  src/app/components/input-currency/input-currency.component.ts
  src/app/components/input-fee/input-fee.component.ts
  src/app/models/transaction.ts
  src/app/pages/transaction/transaction-receive/transaction-receive.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/pipes/market-number/market-number.ts
  src/app/services/ark-api/ark-api.ts
  src/app/transactions/shared/transaction.utils.ts
  src/app/utils/ark-utility.ts
  src/app/utils/bignumber.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: wallet details redesign (#604)
  .storybook/preview.ts
  src/app/app.module.ts
  src/app/transactions/transaction-list/transaction-list.component.html
  src/app/transactions/transaction-list/transaction-list.component.module.ts
  src/app/transactions/transaction-list/transaction-list.component.scss
  src/app/transactions/transaction-list/transaction-list.component.ts
  src/app/transactions/transaction-list/transaction-list.spec.ts
  src/app/transactions/transaction-list/transaction-list.stories.ts
  src/app/transactions/transaction-row/transaction-row.component.html
  src/app/transactions/transaction-row/transaction-row.component.module.ts
  src/app/transactions/transaction-row/transaction-row.component.scss
  src/app/transactions/transaction-row/transaction-row.component.ts
  src/app/transactions/transaction-row/transaction-row.spec.ts
  src/app/transactions/transaction-row/transaction-row.stories.ts
  src/app/wallets/wallet-card/wallet-card.component.html
  src/app/wallets/wallet-details/wallet-details-routing.module.ts
  src/app/wallets/wallet-details/wallet-details.component.html
  src/app/wallets/wallet-details/wallet-details.component.module.ts
  src/app/wallets/wallet-details/wallet-details.component.scss
  src/app/wallets/wallet-details/wallet-details.component.ts
  src/app/wallets/wallet-details/wallet-details.spec.ts
  src/app/wallets/wallet-details/wallet-details.stories.ts
  src/assets/img/transactions/received-icon.png
  src/assets/img/transactions/sent-icon.png
  src/coins/shared/coin.config.ts
  src/theme/variables.scss
  test/fixture/transactions.fixture.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: send coin screen (#626)
  .storybook/addons.js
  package-lock.json
  package.json
  src/app/components/input-address/input-address.component.html
  src/app/components/input-address/input-address.component.scss
  src/app/components/input-address/input-address.component.ts
  src/app/components/input-address/input-address.spec.ts
  src/app/components/input-currency/input-currency.component.html
  src/app/components/input-currency/input-currency.component.scss
  src/app/components/input-currency/input-currency.component.spec.ts
  src/app/components/recipient-list/recipient-list.component.ts
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.html
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.module.ts
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.scss
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.ts
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.spec.ts
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.stories.ts
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.html
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.module.ts
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.scss
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.spec.ts
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.ts
  src/app/transactions/transaction-send/recipient-list/recipient-list.stories.ts
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.scss
  src/app/transactions/transaction-send/transaction-send.component.ts
  src/app/transactions/transaction-send/transaction-send.module.ts
  src/app/transactions/transaction-send/transaction-send.spec.ts
  src/app/transactions/transaction-send/transaction-send.stories.ts
  src/assets/i18n/en.json
  src/assets/svg/person.svg
  src/assets/svg/qr-code-border.svg
  src/assets/svg/qrcode.svg
  src/assets/svg/swipe_to_delete_instructions.svg
Due: npm run lint, prettier --write, npm run lint --fix

feat: BigInt support on browsers without native support
  webpack.config.js
Due: prettier --write

chore(deps): update angularcli monorepo to ^0.1000.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @angular/cli to v10
  package-lock.json
  package.json
Due: prettier --write

wip
  .github/workflows/test.yml
  src/app/wallets/wallets.component.scss
Due: prettier --write

wip
  .github/workflows/test.yml
Due: none

fix: chromedriver version to run e2e job (#644)
  .github/workflows/test.yml
  src/app/wallets/wallets.component.scss
Due: prettier --write

fix(deps): update dependency cordova-plugin-inappbrowser to v4
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update angular monorepo to v10
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @ngx-translate/http-loader to v5
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency immer to v7
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @ngx-translate/core to v13
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @ngx-translate/http-loader to v6
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency cordova-android to v9
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update angular monorepo
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  npm run lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{css,pcss,scss,html,json,md,js})
  npm run lint --fix: any of: src/**/*.ts
