Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

.lintstagedrc.json:

{
    "*.ts": ["npm run lint", "prettier --write"],
    "src/**/*.ts": ["npm run lint --fix"],
    "*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

test: add test test bed config
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add login case
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add logout case
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add verify intro case
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: (wip) add set intro case
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: modify auth module to return observables
  src/app/services/auth/auth.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: Improve login test checking storage
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add set intro case
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: update save intro call
  src/app/pages/intro/intro.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: readd prettier plugin
  .eslintrc.json
Due: prettier --write

chore: Improve master password observable
  src/app/components/pin-code/pin-code.ts
  src/app/services/auth/auth.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add password cases
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: input-fee component (#521)
  .eslintrc.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/input-currency/input-currency.component.html
  src/app/components/input-currency/input-currency.component.scss
  src/app/components/input-currency/input-currency.component.ts
  src/app/components/input-currency/input-currency.module.ts
  src/app/components/input-fee/input-fee.component.html
  src/app/components/input-fee/input-fee.component.pcss
  src/app/components/input-fee/input-fee.component.scss
  src/app/components/input-fee/input-fee.component.spec.ts
  src/app/components/input-fee/input-fee.component.ts
  src/app/components/input-fee/input-fee.module.ts
  src/app/directives/directives.module.ts
  src/app/directives/paste-clipboard-value/paste-clipboard-value.ts
  src/app/pages/delegates/delegate-detail/delegate-detail.html
  src/app/pages/delegates/delegate-detail/delegate-detail.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/services/ark-api/ark-api.ts
  src/app/utils/http-utils.ts
  src/assets/i18n/en.json
  src/theme/variables.scss
Due: npm run lint, prettier --write, npm run lint --fix

chore: Update clearAttempts to use switchMap
  src/app/modals/pin-code/pin-code.ts
  src/app/services/auth/auth.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add attempts cases and improve master pwd
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove single test run flag
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: make github vm works again
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: get an error on master password validation
  src/app/services/auth/auth.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add auth service unit tests (#522)
  src/app/components/pin-code/pin-code.ts
  src/app/modals/pin-code/pin-code.ts
  src/app/pages/intro/intro.ts
  src/app/services/auth/auth.spec.ts
  src/app/services/auth/auth.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: exclude files from coverage
  karma.conf.js
Due: prettier --write

fix(deps): update dependency cordova-sqlite-storage to v5
  package-lock.json
  package.json
Due: prettier --write

test: refactor intro page
  src/app/pages/intro/intro.html
  src/app/pages/intro/intro.spec.ts
  src/app/pages/intro/intro.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: refactor intro page (#524)
  karma.conf.js
  src/app/pages/intro/intro.html
  src/app/pages/intro/intro.spec.ts
  src/app/pages/intro/intro.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: input-fee component tweaks
  src/app/components/input-fee/input-fee.component.pcss
  src/global.scss
Due: prettier --write

fix: input-fee component tweaks (#526)
  src/app/components/input-fee/input-fee.component.pcss
  src/global.scss
Due: prettier --write

ci: fix connectivity for building in appflow
  config.xml
  resources/android/xml/network_security_config.xml
Due: none

ci: fix connectivity for building in appflow (#527)
  config.xml
  resources/android/xml/network_security_config.xml
Due: none

chore: update vulnerable deps
  package-lock.json
Due: prettier --write

wip
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

chore: remove puppeteer
  e2e/protractor.conf.js
  karma.conf.js
  package-lock.json
  package.json
Due: prettier --write

chore: update @angular/core
  package-lock.json
  package.json
Due: prettier --write

chore: update @angular/cli
  package-lock.json
  package.json
Due: prettier --write

chore: update deps
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: prettier --write

chore: downgrade @typescript-eslint
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: prettier --write

chore: npm audit fix
  package-lock.json
Due: prettier --write

fix: explicitly define the compiler type
  src/app/app.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: update deps and speed up the workflow (#529)
  .github/workflows/lint.yml
  .github/workflows/test.yml
  e2e/protractor.conf.js
  karma.conf.js
  package-lock.json
  package.json
  src/app/app.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: mock saveProfiles method from user-data
  src/app/services/contacts/contacts.spec.ts
  test/mocks.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: mocking user data methods for contacts service tests
  src/app/services/contacts/contacts.spec.ts
  test/mocks.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add contacts service unit suite
  src/app/services/contacts/contacts.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix
