Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

wip
  src/app/profiles/profile-list/profile-list.component.html
  src/app/profiles/profile-list/profile-list.component.spec.ts
  src/app/profiles/profile-list/profile-list.component.ts
  src/app/profiles/profile-list/profile-list.stories.ts
  src/app/profiles/profiles.component.html
  src/app/profiles/profiles.component.pcss
  src/app/profiles/profiles.component.ts
  src/app/profiles/profiles.module.ts
  src/assets/svg/avatar-placeholder.svg
Due: npm run lint, prettier --write, npm run lint --fix

fix: add navigation to profile
  src/app/profiles/profile-list/profile-list.component.html
  src/app/profiles/profile-list/profile-list.module.ts
  tailwind.config.js
Due: npm run lint, prettier --write, npm run lint --fix

chore: rollback sidemenu navigation
  src/app/app.component.html
Due: prettier --write

chore(deps): update dependency protractor to v7
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency tslib to v2
  package-lock.json
  package.json
Due: prettier --write

fix: storybook
  src/app/profiles/profile-list/profile-list.stories.ts
  src/app/services/user-data/user-data.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add signup specs
  src/app/signup/signup.component.html
  src/app/signup/signup.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: update storybook
  .storybook/addons.js
  .storybook/preview.ts
  package-lock.json
  package.json
  src/app/wallets/wallet-card/wallet-card.component.ts
  src/app/wallets/wallet-card/wallet-card.stories.ts
  src/app/wallets/wallet-list-actions/wallet-list-actions.stories.ts
  src/app/wallets/wallet-list-empty/wallet-list-empty.stories.ts
  src/app/wallets/wallet-list-header/wallet-list-header.stories.ts
  src/app/wallets/wallet-list/wallet-list.component.html
  src/app/wallets/wallet-list/wallet-list.component.module.ts
  src/app/wallets/wallet-list/wallet-list.component.ts
  src/app/wallets/wallet-list/wallet-list.stories.ts
  src/app/wallets/wallets.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: update open wallet click action
  src/app/wallets/wallet-list/wallet-list.component.html
Due: prettier --write

fix: fix e2e job
  src/app/wallets/wallet-list/wallet-list.component.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add symbol to coin config
  src/coins/shared/coin.config.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: update wallet card to use symbol from config
  src/app/wallets/wallet-card/wallet-card.component.html
Due: prettier --write

feat: add wallet details fisrt scratch
  src/app/wallets/wallet-details/wallet-details.component.html
  src/app/wallets/wallet-details/wallet-details.component.module.ts
  src/app/wallets/wallet-details/wallet-details.component.scss
  src/app/wallets/wallet-details/wallet-details.component.ts
  src/app/wallets/wallet-details/wallet-details.stories.ts
  src/theme/variables.scss
Due: npm run lint, prettier --write, npm run lint --fix

feat: add transaction row raw component
  src/app/transactions/transaction-row/transaction-row.component.html
  src/app/transactions/transaction-row/transaction-row.component.module.ts
  src/app/transactions/transaction-row/transaction-row.component.scss
  src/app/transactions/transaction-row/transaction-row.component.ts
  src/app/transactions/transaction-row/transaction-row.stories.ts
  src/assets/img/transactions/received-icon.png
  src/assets/img/transactions/sent-icon.png
Due: npm run lint, prettier --write, npm run lint --fix

feat: improve transaction row component
  src/app/transactions/transaction-row/transaction-row.component.html
  src/app/transactions/transaction-row/transaction-row.component.scss
  src/app/transactions/transaction-row/transaction-row.component.ts
  src/app/transactions/transaction-row/transaction-row.spec.ts
  src/app/transactions/transaction-row/transaction-row.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix(deps): update dependency @arkecosystem/platform-sdk to ^0.8.0
  package-lock.json
  package.json
Due: prettier --write

fix(deps): update dependency @arkecosystem/platform-sdk-markets to ^0.8.0
  package-lock.json
  package.json
Due: prettier --write

feat: update transaction row timestamp accessor
  src/app/transactions/transaction-row/transaction-row.component.html
Due: prettier --write

feat: add transaction-list component
  src/app/transactions/transaction-list/transaction-list.component.html
  src/app/transactions/transaction-list/transaction-list.component.module.ts
  src/app/transactions/transaction-list/transaction-list.component.scss
  src/app/transactions/transaction-list/transaction-list.component.ts
  src/app/transactions/transaction-list/transaction-list.stories.ts
  test/fixture/transactions.fixture.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add test specs
  src/app/transactions/transaction-list/transaction-list.component.html
  src/app/transactions/transaction-list/transaction-list.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: wip add fixed transaction list while work on bottom drawer
  src/app/transactions/transaction-list/transaction-list.component.html
  src/app/wallets/wallet-details/wallet-details.component.html
  src/app/wallets/wallet-details/wallet-details.component.module.ts
  src/app/wallets/wallet-details/wallet-details.component.scss
  src/app/wallets/wallet-details/wallet-details.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add collapsible transactions list
  src/app/wallets/wallet-details/wallet-details.component.html
  src/app/wallets/wallet-details/wallet-details.component.scss
  src/app/wallets/wallet-details/wallet-details.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: remove ununsed bottom drawer
  src/app/wallets/wallet-details/wallet-details.component.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add default value for currency
  src/app/wallets/wallet-details/wallet-details.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add wallet details test spec
  src/app/wallets/wallet-details/wallet-details.component.html
  src/app/wallets/wallet-details/wallet-details.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: adjust transactions fixture
  test/fixture/transactions.fixture.ts
Due: npm run lint, prettier --write

feat: enable swipe handler by hammer
  src/app/app.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: minor ui tweaks
  src/app/transactions/transaction-list/transaction-list.component.html
  src/app/transactions/transaction-row/transaction-row.component.html
  src/app/transactions/transaction-row/transaction-row.component.scss
  src/app/wallets/wallet-details/wallet-details.component.scss
Due: prettier --write

feat: add swiping directives
  src/app/wallets/wallet-details/wallet-details.component.html
  src/app/wallets/wallet-details/wallet-details.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: temp remove transaction model type
  src/app/transactions/transaction-row/transaction-row.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add missing modules to wallet-details
  src/app/wallets/wallet-details/wallet-details-routing.module.ts
  src/app/wallets/wallet-details/wallet-details.component.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: adjust app module imports
  src/app/app.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add hammerjs to storybook
  .storybook/preview.ts
Due: npm run lint, prettier --write

feat: adjust BEM nomenclature and cleanup a bit
  src/app/transactions/transaction-list/transaction-list.component.html
  src/app/transactions/transaction-list/transaction-list.component.ts
  src/app/transactions/transaction-list/transaction-list.stories.ts
  src/app/transactions/transaction-row/transaction-row.component.html
  src/app/wallets/wallet-details/wallet-details.component.html
Due: npm run lint, prettier --write, npm run lint --fix

test: update click event to a simulated swipe
  src/app/wallets/wallet-details/wallet-details.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add word box component
  src/app/components/word-box/word-box.component.html
  src/app/components/word-box/word-box.component.module.ts
  src/app/components/word-box/word-box.component.scss
  src/app/components/word-box/word-box.component.spec.ts
  src/app/components/word-box/word-box.component.ts
  src/app/components/word-box/word-box.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: wip add password page
  src/app/components/word-box/word-box.component.html
  src/app/components/word-box/word-box.component.scss
  src/app/password/password-page.component.scss
  src/app/password/password.component.html
  src/app/password/password.component.module.ts
  src/app/password/password.component.ts
  src/app/password/password.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add password page temp en strings
  src/assets/i18n/en.json
Due: prettier --write

feat: add password page
  src/app/password/password.component.html
  src/app/password/password.component.module.ts
  src/app/password/password.stories.ts
  src/app/password/word-box/word-box.component.html
  src/app/password/word-box/word-box.component.module.ts
  src/app/password/word-box/word-box.component.scss
  src/app/password/word-box/word-box.component.spec.ts
  src/app/password/word-box/word-box.component.ts
  src/app/password/word-box/word-box.stories.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

Path conditions:
  npm run lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{css,pcss,scss,html,json,md,js})
  npm run lint --fix: any of: src/**/*.ts
