Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

.lintstagedrc.json:

{
    "*.ts": ["npm run lint", "prettier --write"],
    "src/**/*.ts": ["npm run lint --fix"],
    "*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

feat: add next step en string
  src/assets/i18n/en.json
Due: prettier --write

feat: add password-page
  src/app/password/password-page.component.html
  src/app/password/password-page.component.module.ts
  src/app/password/password-page.component.ts
  src/app/password/password-page.spec.ts
  src/app/password/password-page.stories.ts
  src/app/password/password.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add copy to clipboard action
  src/app/password/password-page.component.html
  src/app/password/password-page.component.ts
  src/app/password/password-page.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: provide storybook clipboard
  src/app/password/password-page.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: increase coverage
  src/app/password/password-page.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

refac: transform password page to a isolated comp
  src/app/password/password-page.component.html
  src/app/password/password-page.component.module.ts
  src/app/password/password-page.component.scss
  src/app/password/password-page.component.ts
  src/app/password/password-page.spec.ts
  src/app/password/password-page.stories.ts
  src/app/password/word-box/word-box.component.html
  src/app/password/word-box/word-box.component.module.ts
  src/app/password/word-box/word-box.component.scss
  src/app/password/word-box/word-box.component.spec.ts
  src/app/password/word-box/word-box.component.ts
  src/app/password/word-box/word-box.stories.ts
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.html
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.module.ts
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.scss
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.ts
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.spec.ts
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.stories.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove single test run flag
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove ununsed strings
  src/assets/i18n/en.json
Due: prettier --write

fix(deps): update dependency @arkecosystem/platform-sdk to ^0.9.0
  package-lock.json
  package.json
Due: prettier --write

fix: html semantic and css grid
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.html
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.scss
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.spec.ts
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.stories.ts
  tailwind.config.js
Due: npm run lint, prettier --write, npm run lint --fix

feat: redesign wallet passphrase list (#605)
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.html
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.module.ts
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.scss
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.spec.ts
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.component.ts
  src/app/wallets/wallet-passphrase-list/wallet-passphrase-list.stories.ts
  src/assets/i18n/en.json
  tailwind.config.js
Due: npm run lint, prettier --write, npm run lint --fix

chore: sanitize transactions fixture
  test/fixture/transactions.fixture.ts
Due: npm run lint, prettier --write

feat: wip add wallet passphrase check component
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.html
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.module.ts
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.scss
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.ts
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.spec.ts
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.stories.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

fix(deps): update dependency @arkecosystem/platform-sdk-markets to ^0.9.0
  package-lock.json
  package.json
Due: prettier --write

feat: trade functions for built in usage, adjust BEM
  src/app/transactions/transaction-row/transaction-row.component.html
  src/app/transactions/transaction-row/transaction-row.component.scss
  src/app/transactions/transaction-row/transaction-row.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

refac: use built ins instead of custom funcs
  src/app/transactions/transaction-list/transaction-list.component.html
  src/app/transactions/transaction-list/transaction-list.component.scss
  src/app/transactions/transaction-list/transaction-list.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: profile signin page height
  src/app/components/empty-list/empty-list.html
  src/app/pages/profiles/profile-signin/profile-signin.html
Due: prettier --write

fix: settings page header on android
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/settings/settings.component.html
  src/app/settings/settings.component.pcss
  src/app/settings/settings.component.ts
  src/app/settings/settings.module.ts
  src/assets/styles/app.pcss
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove old page
  src/app/pages/settings/settings.html
  src/app/pages/settings/settings.module.ts
  src/app/pages/settings/settings.scss
  src/app/pages/settings/settings.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: minor UI tweaks
  src/app/wallets/wallet-details/wallet-details.component.html
  src/app/wallets/wallet-details/wallet-details.component.scss
Due: prettier --write

fix: profile signin page height (#610)
  src/app/components/empty-list/empty-list.html
  src/app/pages/profiles/profile-signin/profile-signin.html
Due: prettier --write

fix: settings page header on android (#611)
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/pages/settings/settings.html
  src/app/pages/settings/settings.module.ts
  src/app/pages/settings/settings.scss
  src/app/pages/settings/settings.ts
  src/app/settings/settings.component.html
  src/app/settings/settings.component.pcss
  src/app/settings/settings.component.ts
  src/app/settings/settings.module.ts
  src/assets/styles/app.pcss
Due: npm run lint, prettier --write, npm run lint --fix

test: update transaction-row spec
  src/app/transactions/transaction-row/transaction-row.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

refac: update wrong method name call
  src/app/market/shared/market.service.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix(deps): update dependency cordova-plugin-x-socialsharing to v6
  package-lock.json
  package.json
Due: prettier --write

refac: improve perf and truly randomize words order
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.html
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.scss
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: apply font-bold to word indicator
  src/app/wallets/wallet-passphrase-check/wallet-passphrase-check.component.html
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3
  package-lock.json
  package.json
Due: prettier --write

feat: add recipient list component
  src/app/components/recipient-list/recipient-list.component.html
  src/app/components/recipient-list/recipient-list.component.module.ts
  src/app/components/recipient-list/recipient-list.component.scss
  src/app/components/recipient-list/recipient-list.component.spec.ts
  src/app/components/recipient-list/recipient-list.component.ts
  src/app/components/recipient-list/recipient-list.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add edit logic
  src/app/components/recipient-list/recipient-list.component.html
  src/app/components/recipient-list/recipient-list.component.spec.ts
  src/app/components/recipient-list/recipient-list.component.ts
  src/assets/svg/edit.svg
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove ununsed import
  src/app/components/recipient-list/recipient-list.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove single test run flag
  src/app/components/recipient-list/recipient-list.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore(deps): update dependency karma-jasmine to ~3.2.0
  package-lock.json
  package.json
Due: prettier --write

feat: remove edit action
  src/app/components/recipient-list/recipient-list.component.html
  src/app/components/recipient-list/recipient-list.component.spec.ts
  src/app/components/recipient-list/recipient-list.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: subscribe auth ctrl methods
  src/app/pages/delegates/delegates.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
  src/app/settings/settings.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: fix failing
  src/app/auth/shared/auth.controller.ts
  src/app/settings/settings.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: subscribe auth ctrl methods (#619)
  src/app/auth/shared/auth.controller.ts
  src/app/pages/delegates/delegates.ts
  src/app/pages/wallet/wallet-list/wallet-list.ts
  src/app/settings/settings.component.spec.ts
  src/app/settings/settings.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor(recipient-list): move it to transactions context
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.html
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.module.ts
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.scss
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.spec.ts
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.ts
  src/app/transactions/transaction-send/recipient-list/recipient-list.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix
