Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

.lintstagedrc.json:

{
    "*.ts": ["npm run lint", "prettier --write"],
    "src/**/*.ts": ["npm run lint --fix"],
    "*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

chore: update @angular/core
  package-lock.json
  package.json
Due: prettier --write

chore: update @ionic packages
  package-lock.json
  package.json
Due: prettier --write

chore: update other deps
  package-lock.json
  package.json
Due: prettier --write

chore: update deps (#552)
  package-lock.json
  package.json
Due: prettier --write

chore: resolve UIWebView API deprecation
  config.xml
Due: none

chore: resolve UIWebView API deprecation (#553)
  config.xml
Due: none

fix: capitalize translation items
  src/assets/i18n/en.json
Due: prettier --write

fix: capitalize translation items (#554)
  src/assets/i18n/en.json
Due: prettier --write

chore: remove single test run flag
  src/app/services/neo-api/neo-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add neo api test cases
  src/app/services/neo-api/neo-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add test case using get balance with transactions fixtures
  src/app/services/neo-api/neo-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test(wip): add basic test structure
  src/app/services/neo-api/neo-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add bottom drawer component
  package-lock.json
  package.json
  src/app/components/bottom-drawer/bottom-drawer.component.ts
  src/app/components/bottom-drawer/bottom-drawer.module.ts
  src/app/components/bottom-drawer/bottom-drawer.stories.ts
  src/app/components/bottom-drawer/bottom-drawer.type.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: remove duplicate factory
  src/app/services/neo-api/neo-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add neo-api unit tests (#555)
  src/app/services/neo-api/neo-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: use bottom drawer in wallet picker
  src/app/components/bottom-drawer/bottom-drawer.component.ts
  src/app/components/bottom-drawer/bottom-drawer.stories.ts
  src/app/components/bottom-drawer/bottom-drawer.type.ts
  src/app/components/wallet-picker/wallet-picker.component.pcss
  src/app/components/wallet-picker/wallet-picker.modal.html
  src/app/components/wallet-picker/wallet-picker.modal.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.module.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/assets/styles/app.pcss
Due: npm run lint, prettier --write, npm run lint --fix

test: add bottom drawer specs
  src/app/components/bottom-drawer/bottom-drawer.component.spec.ts
  src/app/components/bottom-drawer/bottom-drawer.component.ts
  src/app/components/bottom-drawer/bottom-drawer.stories.ts
  src/app/components/wallet-picker/wallet-picker.component.pcss
Due: npm run lint, prettier --write, npm run lint --fix

fix: remove single test flag
  src/app/components/bottom-drawer/bottom-drawer.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: fix input-address
  src/app/components/input-address/input-address.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add bottom drawer component (#556)
  package-lock.json
  package.json
  src/app/components/bottom-drawer/bottom-drawer.component.spec.ts
  src/app/components/bottom-drawer/bottom-drawer.component.ts
  src/app/components/bottom-drawer/bottom-drawer.module.ts
  src/app/components/bottom-drawer/bottom-drawer.stories.ts
  src/app/components/input-address/input-address.spec.ts
  src/app/components/wallet-picker/wallet-picker.component.pcss
  src/app/components/wallet-picker/wallet-picker.modal.html
  src/app/components/wallet-picker/wallet-picker.modal.ts
  src/app/pages/transaction/transaction-send/transaction-send.html
  src/app/pages/transaction/transaction-send/transaction-send.module.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/assets/styles/app.pcss
Due: npm run lint, prettier --write, npm run lint --fix

fix(deps): update dependency pino-pretty to v4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency karma to v5
  package-lock.json
  package.json
Due: prettier --write

test: wip network fee statistics
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: wip - get network fee statistics
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: should complete
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: activate network
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: [wip] add initial structure
  src/app/services/ark-api/ark-api.spec.ts
  test/fixture/delegates.fixture.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: wip covering public get methods
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: wip should use cached fees case
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: wip add fees test case and fixture
  src/app/services/ark-api/ark-api.spec.ts
  test/fixture/transactions-fees.fixture.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: wip cover more cases in statistics context
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: node/fees request
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: wip add cached fees case
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: wip should fetch and return delegates
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: cached fees
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: wip inscrease ark api coverage
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: fetch fees
  src/app/services/ark-api/ark-api.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: adjust network version
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: skip delegates
  src/app/services/ark-api/ark-api.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix
