Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

.lintstagedrc.json:

{
    "*.ts": ["npm run lint", "prettier --write"],
    "src/**/*.ts": ["npm run lint --fix"],
    "*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

feat(recipient-list-resume): add component, specs and stories
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.html
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.module.ts
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.scss
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.ts
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.spec.ts
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(transaction-send): wip add send coin screen
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.scss
  src/app/transactions/transaction-send/transaction-send.component.ts
  src/app/transactions/transaction-send/transaction-send.module.ts
  src/app/transactions/transaction-send/transaction-send.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix(deps): update dependency cordova-plugin-ionic-webview to v5
  package-lock.json
  package.json
Due: prettier --write

fix: onboarding image size on iPhone
  src/app/onboarding/onboarding.component.html
  src/app/onboarding/onboarding.component.pcss
  src/assets/svg/onboarding-easy.svg
  src/assets/svg/onboarding-security.svg
  src/assets/svg/onboarding-welcome.svg
  src/global.scss
Due: prettier --write

fix: onboarding image size on iPhone (#622)
  src/app/onboarding/onboarding.component.html
  src/app/onboarding/onboarding.component.pcss
  src/assets/svg/onboarding-easy.svg
  src/assets/svg/onboarding-security.svg
  src/assets/svg/onboarding-welcome.svg
  src/global.scss
Due: prettier --write

fix: profile signin page height
  src/app/pages/profiles/profile-signin/profile-signin.html
Due: prettier --write

chore: bump version to 1.8.1
  config.xml
  package-lock.json
  package.json
Due: prettier --write

test: fix webdriver
  .github/workflows/test.yml
Due: none

test: add webdriver-manager script
  .github/workflows/test.yml
Due: none

hotfix: release 1.8.1 (#624)
  .github/workflows/test.yml
  config.xml
  package-lock.json
  package.json
  src/app/pages/profiles/profile-signin/profile-signin.html
Due: prettier --write

refactor(recipient-resume): adjust counter
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.html
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.scss
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(send-screen): wip add recipient action (no validators)
  src/app/transactions/transaction-send/transaction-send.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore(deps): update dependency karma-jasmine to ~3.3.0
  package-lock.json
  package.json
Due: prettier --write

feat: add recipient list component (#613)
  src/app/components/recipient-list/recipient-list.component.html
  src/app/components/recipient-list/recipient-list.component.module.ts
  src/app/components/recipient-list/recipient-list.component.scss
  src/app/components/recipient-list/recipient-list.component.spec.ts
  src/app/components/recipient-list/recipient-list.component.ts
  src/app/components/recipient-list/recipient-list.stories.ts
  src/assets/svg/edit.svg
Due: npm run lint, prettier --write, npm run lint --fix

feat: add sdk wrappers
  package-lock.json
  package.json
  src/app/sdk/shared/sdk-env.service.ts
  src/app/sdk/shared/sdk-http.service.ts
  src/app/sdk/shared/sdk-storage.service.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor(onboarding): replace ngxs with sdk
  src/app/app.module.ts
  src/app/onboarding/onboarding.component.spec.ts
  src/app/onboarding/onboarding.component.ts
  src/app/onboarding/onboarding.module.ts
  src/app/onboarding/shared/onboarding.actions.ts
  src/app/onboarding/shared/onboarding.guard.spec.ts
  src/app/onboarding/shared/onboarding.guard.ts
  src/app/onboarding/shared/onboarding.service.spec.ts
  src/app/onboarding/shared/onboarding.service.ts
  src/app/onboarding/shared/onboarding.state.spec.ts
  src/app/onboarding/shared/onboarding.state.ts
  src/app/sdk/shared/sdk-env.service.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(assets): add new icons and border
  src/assets/svg/person.svg
  src/assets/svg/qr-code-border.svg
  src/assets/svg/qrcode.svg
Due: none

feat(input-currency): adjust input currency layout
  src/app/components/input-currency/input-currency.component.html
  src/app/components/input-currency/input-currency.component.scss
  src/app/components/input-currency/input-currency.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(input-address): apply new icons, adjust layout
  src/app/components/input-address/input-address.component.html
  src/app/components/input-address/input-address.component.scss
  src/app/components/input-address/input-address.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(send-coin): adjust form layout, control recipient list resume
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.scss
Due: prettier --write

chore(action): remove debug function
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(input-address): Add customizable label
  src/app/components/input-address/input-address.component.html
  src/app/components/input-address/input-address.component.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

feat(send-coin): update labels
  src/app/transactions/transaction-send/transaction-send.component.html
Due: prettier --write

feat(recipient-list-resume): add empty UI state
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.html
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.scss
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(bottom-drawer): add bottom-drawer and connect components
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.html
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.component.ts
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.html
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.ts
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.ts
  src/app/transactions/transaction-send/transaction-send.module.ts
  src/app/transactions/transaction-send/transaction-send.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(bottom-drawer): improve bottom drawer UI
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.html
  src/app/transactions/transaction-send/transaction-send.component.html
  src/assets/i18n/en.json
  src/assets/svg/swipe_to_delete_instructions.svg
Due: prettier --write

test: update tests for recipients-list and resume
  src/app/transactions/transaction-send/recipient-list-resume/recipient-list-resume.spec.ts
  src/app/transactions/transaction-send/recipient-list/recipient-list.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(transaction): wip add transaction object
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix(typo): fix module name
  src/app/transactions/transaction-send/transaction-send.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix(typo): fix typo in total amount
  src/app/transactions/transaction-send/transaction-send.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: disable add on form invalid, add test-ids
  src/app/transactions/transaction-send/transaction-send.component.html
Due: prettier --write

tests: add transaction-send test specs
  src/app/transactions/transaction-send/transaction-send.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore(ui): adjust form top border
  src/app/transactions/transaction-send/transaction-send.component.html
Due: prettier --write

chore: remove duplicated component
  src/app/components/recipient-list/recipient-list.component.html
  src/app/components/recipient-list/recipient-list.component.module.ts
  src/app/components/recipient-list/recipient-list.component.scss
  src/app/components/recipient-list/recipient-list.component.spec.ts
  src/app/components/recipient-list/recipient-list.component.ts
  src/app/components/recipient-list/recipient-list.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add qrcode scanner action
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: fix qr code button elevation
  src/app/components/input-address/input-address.component.html
Due: prettier --write

feat(storybook): update story file
  src/app/transactions/transaction-send/transaction-send.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

tests: wip add qrcode action click specs
  src/app/components/input-address/input-address.component.html
  src/app/transactions/transaction-send/transaction-send.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(qrcode/contact): wip add buttons actions to input address
  src/app/transactions/transaction-send/transaction-send.component.html
  src/app/transactions/transaction-send/transaction-send.component.ts
  src/app/transactions/transaction-send/transaction-send.module.ts
  src/app/transactions/transaction-send/transaction-send.spec.ts
  src/app/transactions/transaction-send/transaction-send.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix(build): add android x support
  config.xml
  package-lock.json
  package.json
Due: prettier --write
