Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

set AndroidPersistentFileLocation as advised by plugin
  config.xml
Due: none

add http to app providers
  src/app/app.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

use custom http client
  src/app/modals/custom-network-create/custom-network-create.ts
  src/app/services/ark-api/ark-api.ts
  src/app/services/neo-api/neo-api.ts
  src/app/utils/ark-client.ts
  src/app/utils/ark-peer-discovery.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix market data error on devnet
  src/app/models/market.ts
Due: npm run lint, prettier --write, npm run lint --fix

remove v2 from api urls
  src/app/services/ark-api/ark-api.ts
Due: npm run lint, prettier --write, npm run lint --fix

use get method instead of request
  src/app/utils/ark-client.ts
  src/app/utils/ark-peer-discovery.ts
Due: npm run lint, prettier --write, npm run lint --fix

catch delegate not found response
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

wip: throw caught errors while logging, remove commented code, and attempt to force a json content type
  src/app/utils/ark-http-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

pass null if delegate not found
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: adding new v3 networks
  src/app/modals/custom-network-create/custom-network-create.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix posted http data being converted to string
  src/app/utils/ark-http-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

fix: use last vote entry in array
  src/app/utils/ark-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

add http plugin
  package-lock.json
  package.json
Due: prettier --write

add http property
  package.json
Due: prettier --write

remove e2e workflow
  .github/workflows/test.yml
Due: none

bump version
  config.xml
  package-lock.json
  package.json
Due: prettier --write

remove debug
  src/app/services/neo-api/neo-api.ts
  src/app/utils/ark-http-client.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: core v3 upgrades (#705)
  .github/workflows/test.yml
  config.xml
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/modals/custom-network-create/custom-network-create.ts
  src/app/models/market.ts
  src/app/services/ark-api/ark-api.ts
  src/app/services/neo-api/neo-api.ts
  src/app/utils/ark-client.ts
  src/app/utils/ark-http-client.ts
  src/app/utils/ark-peer-discovery.ts
Due: npm run lint, prettier --write, npm run lint --fix

add constant list of possible schemes
  src/app/app.constants.ts
Due: npm run lint, prettier --write, npm run lint --fix

loop through possibles and check for match
  src/app/components/qr-scanner/qr-scanner.ts
Due: npm run lint, prettier --write, npm run lint --fix

wip
  src/app/components/qr-scanner/qr-scanner.ts
Due: npm run lint, prettier --write, npm run lint --fix

remove unused method
  src/app/components/qr-scanner/qr-scanner.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: add message about arkvault
  README.md
Due: prettier --write

Path conditions:
  npm run lint: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{css,pcss,scss,html,json,md,js})
  npm run lint --fix: any of: src/**/*.ts
