Repository ArkEcosystem/mobile-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write, npm run lint --fix

.lintstagedrc.json:

{
    "*.ts": ["npm run lint", "prettier --write"],
    "src/**/*.ts": ["npm run lint --fix"],
    "*.{css,pcss,scss,html,json,md,js}": ["prettier --write"]
}

feat: revert wallet list header to original
  src/app/pages/wallet/wallet-list/wallet-list.html
Due: prettier --write

refactor: empty wallets list redesign (#574)
  .storybook/addons.js
  .storybook/preview.ts
  package-lock.json
  package.json
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.html
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.spec.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.component.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.module.ts
  src/app/wallets/wallets-empty-list/wallets-empty-list.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: implement transaction-vote on delegates page
  src/app/app.module.ts
  src/app/delegates/delegates.component.html
  src/app/delegates/delegates.component.ts
  src/app/transactions/transaction-vote/transaction-vote.component.ts
  src/app/transactions/transactions.module.ts
  src/assets/styles/app.pcss
Due: npm run lint, prettier --write, npm run lint --fix

feat: initial transaction vote component
  src/app/components/input-fee/input-fee.component.ts
  src/app/delegates/delegate-search/delegate-search.controller.ts
  src/app/delegates/delegate-search/delegate-search.stories.ts
  src/app/delegates/delegates.component.ts
  src/app/shared/shared.types.ts
  src/app/transactions/shared/transaction.service.ts
  src/app/transactions/shared/transaction.types.ts
  src/app/transactions/transaction-vote/transaction-vote.component.html
  src/app/transactions/transaction-vote/transaction-vote.component.ts
  src/app/transactions/transaction-vote/transaction-vote.controller.ts
  src/app/transactions/transaction-vote/transaction-vote.module.ts
  src/app/transactions/transaction-vote/transaction-vote.stories.ts
  src/assets/styles/app.pcss
Due: npm run lint, prettier --write, npm run lint --fix

refactor: add transaction form state
  src/app/delegates/delegates.component.html
  src/app/delegates/delegates.component.ts
  src/app/delegates/shared/delegate.types.ts
  src/app/transactions/shared/transaction-form/transaction-form.actions.ts
  src/app/transactions/shared/transaction-form/transaction-form.state.ts
  src/app/transactions/shared/transaction.state.ts
  src/app/transactions/shared/transaction.types.ts
  src/app/transactions/transaction-vote/shared/transaction-vote.types.ts
  src/app/transactions/transaction-vote/transaction-vote.component.ts
  src/app/transactions/transaction-vote/transaction-vote.controller.ts
  src/app/transactions/transactions.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: bignumber usage
  .storybook/preview.ts
  package-lock.json
  package.json
  src/app/components/input-amount/input-amount.component.ts
  src/app/components/input-currency/input-currency.component.ts
  src/app/components/input-fee/input-fee.component.ts
  src/app/delegates/delegate-unvote-banner/delegate-unvote-banner.component.html
  src/app/delegates/delegates.component.html
  src/app/delegates/delegates.component.ts
  src/app/delegates/shared/delegate.service.mock.ts
  src/app/models/transaction.ts
  src/app/pages/transaction/transaction-receive/transaction-receive.ts
  src/app/pages/transaction/transaction-send/transaction-send.ts
  src/app/pipes/market-number/market-number.ts
  src/app/services/ark-api/ark-api.ts
  src/app/transactions/shared/transaction-form/transaction-form.actions.ts
  src/app/transactions/shared/transaction-form/transaction-form.state.ts
  src/app/transactions/shared/transaction.mixins.ts
  src/app/transactions/shared/transaction.types.ts
  src/app/transactions/transaction-detail/transaction-detail.component.html
  src/app/transactions/transaction-detail/transaction-detail.component.ts
  src/app/transactions/transaction-detail/transaction-detail.module.ts
  src/app/transactions/transaction-detail/transaction-detail.stories.ts
  src/app/transactions/transaction-vote/shared/transaction-vote.controller.ts
  src/app/transactions/transaction-vote/transaction-vote.component.html
  src/app/transactions/transaction-vote/transaction-vote.component.ts
  src/app/transactions/transaction-vote/transaction-vote.controller.ts
  src/app/transactions/transaction-vote/transaction-vote.stories.ts
  src/app/utils/ark-utility.ts
  src/app/utils/bignumber.ts
  src/assets/styles/app.pcss
Due: npm run lint, prettier --write, npm run lint --fix

refactor: transaction detail component
  src/app/transactions/shared/transaction-form/transaction-form.actions.ts
  src/app/transactions/shared/transaction-form/transaction-form.state.ts
  src/app/transactions/shared/transaction.mixins.ts
  src/app/transactions/shared/transaction.pipe.ts
  src/app/transactions/shared/transaction.service.ts
  src/app/transactions/shared/transaction.types.ts
  src/app/transactions/shared/transaction.utils.ts
  src/app/transactions/transaction-detail/transaction-detail.component.html
  src/app/transactions/transaction-detail/transaction-detail.component.pcss
  src/app/transactions/transaction-detail/transaction-detail.component.ts
  src/app/transactions/transaction-detail/transaction-detail.module.ts
  src/app/transactions/transaction-detail/transaction-detail.stories.ts
  src/app/transactions/transaction-vote/shared/transaction-vote.controller.ts
  src/app/transactions/transaction-vote/transaction-vote.component.ts
  src/assets/i18n/en.json
Due: npm run lint, prettier --write, npm run lint --fix

test: add transaction-detail specs
  src/app/transactions/transaction-detail/transaction-detail.component.html
  src/app/transactions/transaction-detail/transaction-detail.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add transaction vote ctrl specs
  src/app/transactions/shared/transaction.utils.spec.ts
  src/app/transactions/shared/transaction.utils.ts
  src/app/transactions/transaction-vote/shared/transaction-vote.controller.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add transaction state specs
  src/app/transactions/shared/transaction-form-state/transaction-form.actions.ts
  src/app/transactions/shared/transaction-form-state/transaction-form.state.ts
  src/app/transactions/shared/transaction.service.ts
  src/app/transactions/shared/transaction.state.spec.ts
  src/app/transactions/shared/transaction.state.ts
  src/app/transactions/transaction-vote/shared/transaction-vote.controller.ts
  src/app/transactions/transactions.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

test: add transaction vote specs
  src/app/transactions/shared/transaction-form/transaction-form.state.ts
  src/app/transactions/transaction-vote/transaction-vote.component.html
  src/app/transactions/transaction-vote/transaction-vote.component.spec.ts
  src/app/transactions/transaction-vote/transaction-vote.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(en): add page translations for en
  src/assets/i18n/en.json
Due: prettier --write

test: add network list test cases
  src/app/network/network-list/network-list.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(ui): update card bottom margin
  src/app/network/network-list/network-card/network-card.component.html
Due: prettier --write

feat(network-list): add network list component
  src/app/network/network-list/network-list.component.html
  src/app/network/network-list/network-list.component.module.ts
  src/app/network/network-list/network-list.component.stories.ts
  src/app/network/network-list/network-list.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(network-card): add network card component
  src/app/network/network-list/network-card/network-card.component.html
  src/app/network/network-list/network-card/network-card.component.module.ts
  src/app/network/network-list/network-card/network-card.component.spec.ts
  src/app/network/network-list/network-card/network-card.component.stories.ts
  src/app/network/network-list/network-card/network-card.component.ts
  src/app/network/network-list/network-card/network-card.pcss
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove single test run flag
  src/app/network/network-list/network-card/network-card.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(network-list): add test ids
  src/app/network/network-list/network-list.component.html
Due: prettier --write

refactor: apply PR requested changes
  src/app/network/network-list/network-card/network-card.component.html
  src/app/network/network-list/network-card/network-card.component.spec.ts
  src/app/network/network-list/network-card/network-card.component.stories.ts
  src/app/network/network-list/network-card/network-card.component.ts
  src/app/network/network-list/network-card/network-card.pcss
  src/app/network/network-list/network-list.component.spec.ts
  src/app/network/network-list/network-list.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add logo in gray version
  src/assets/img/logo-no-shadow-gray.png
Due: none

chore(network-card): update classes nomenclature
  src/app/network/network-list/network-card/network-card.component.html
  src/app/network/network-list/network-card/network-card.component.spec.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(assets): update network assets location
  src/app/network/network-list/network-card/network-card.component.html
  src/app/network/network-list/network-card/network-card.component.ts
  src/assets/img/network/ark-devnet.png
  src/assets/img/network/ark-mainet.png
Due: npm run lint, prettier --write, npm run lint --fix

fix: fix type on networks page subtitle
  src/assets/i18n/en.json
Due: prettier --write

fix: use existent network overview text
  src/app/network/network-list/network-list.component.html
Due: prettier --write

chore: remove ununsed property
  src/assets/i18n/en.json
Due: prettier --write

refactor: adjust networks module structure
  src/app/networks/network-card/network-card.component.html
  src/app/networks/network-card/network-card.component.module.ts
  src/app/networks/network-card/network-card.component.spec.ts
  src/app/networks/network-card/network-card.component.stories.ts
  src/app/networks/network-card/network-card.component.ts
  src/app/networks/network-card/network-card.pcss
  src/app/networks/network-list/network-list.component.html
  src/app/networks/network-list/network-list.component.module.ts
  src/app/networks/network-list/network-list.component.spec.ts
  src/app/networks/network-list/network-list.component.stories.ts
  src/app/networks/network-list/network-list.component.ts
  src/app/networks/networks-routing.module.ts
  src/app/networks/networks.component.html
  src/app/networks/networks.component.module.ts
  src/app/networks/networks.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add networks module tests and story
  src/app/networks/networks.component.html
  src/app/networks/networks.component.module.ts
  src/app/networks/networks.spec.ts
  src/app/networks/networks.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(network-list): update list component
  src/app/networks/network-list/network-list.component.html
  src/app/networks/network-list/network-list.component.spec.ts
  src/app/networks/network-list/network-list.component.stories.ts
Due: npm run lint, prettier --write, npm run lint --fix

chore: remove ununsed output
  src/app/networks/network-list/network-list.component.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: initial network list redesign (#576)
  src/app/networks/network-card/network-card.component.html
  src/app/networks/network-card/network-card.component.module.ts
  src/app/networks/network-card/network-card.component.spec.ts
  src/app/networks/network-card/network-card.component.stories.ts
  src/app/networks/network-card/network-card.component.ts
  src/app/networks/network-card/network-card.pcss
  src/app/networks/network-list/network-list.component.html
  src/app/networks/network-list/network-list.component.module.ts
  src/app/networks/network-list/network-list.component.spec.ts
  src/app/networks/network-list/network-list.component.stories.ts
  src/app/networks/network-list/network-list.component.ts
  src/app/networks/networks-routing.module.ts
  src/app/networks/networks.component.html
  src/app/networks/networks.component.module.ts
  src/app/networks/networks.component.ts
  src/app/networks/networks.spec.ts
  src/app/networks/networks.stories.ts
  src/assets/i18n/en.json
  src/assets/img/network/ark-devnet.png
  src/assets/img/network/ark-mainet.png
Due: npm run lint, prettier --write, npm run lint --fix

refactor: initial market data
  package-lock.json
  package.json
  src/app/market/shared/market.actions.ts
  src/app/market/shared/market.config.ts
  src/app/market/shared/market.service.ts
  src/app/market/shared/market.state.ts
  src/app/market/shared/market.types.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: add market module
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/market/market.module.ts
  src/app/market/shared/market.actions.ts
  src/app/market/shared/market.config.ts
  src/app/market/shared/market.service.ts
  src/app/market/shared/market.state.spec.ts
  src/app/market/shared/market.state.ts
  src/app/market/shared/market.types.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor: add market module (#578)
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/market/market.module.ts
  src/app/market/shared/market.actions.ts
  src/app/market/shared/market.config.ts
  src/app/market/shared/market.service.ts
  src/app/market/shared/market.state.spec.ts
  src/app/market/shared/market.state.ts
  src/app/market/shared/market.types.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat(structure): add new settings page
  src/app/settings/settings-routing.module.ts
  src/app/settings/settings.component.html
  src/app/settings/settings.component.ts
  src/app/settings/settings.module.ts
  src/app/settings/settings.scss
  src/app/settings/shared/settings.service.ts
  src/app/settings/shared/settings.state.ts
  src/app/settings/shared/settings.type.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor(service): update storage service
  src/app/settings/shared/settings.service.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: [wip] add enw settings route
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add managed ngxs settings module
  src/app/settings/settings-routing.module.ts
  src/app/settings/settings.component.html
  src/app/settings/settings.component.ts
  src/app/settings/settings.config.ts
  src/app/settings/settings.module.ts
  src/app/settings/shared/settings.actions.ts
  src/app/settings/shared/settings.service.ts
  src/app/settings/shared/settings.state.ts
  src/app/settings/shared/settings.type.ts
Due: npm run lint, prettier --write, npm run lint --fix

refactor(state): remove ununsed save action in face of ngxs plugin
  src/app/settings/shared/settings.state.ts
Due: npm run lint, prettier --write, npm run lint --fix

feat: add settings module to app routing
  src/app/app-routing.module.ts
  src/app/app.module.ts
Due: npm run lint, prettier --write, npm run lint --fix
